<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700|Ubuntu:400,300,300italic,500,700|Montserrat' rel='stylesheet' type='text/css'>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
{% if site.favicon %}
    <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
    <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
{% endif %}
